/* mise en forme du pied de page */
footer {
  background-color: $green;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  bottom: 0%;
}