/* mise en forme des liens hypertexte du pied de page */
footer a {
  color: $yellow;
  text-decoration: none;
  cursor: pointer;
}

/* animation "secouer" des boutons "Mentions légales" et "Contactez-nous" */
.legal-notice:hover, .contact:hover {
  animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97) both;
}