/* grille CSS "La note enchantée" */
.grid-note {
  @include grid-menu;
  font-family: 'Caveat';
  color: $brown;
  background-color: $salmon;
}

/* titre du menu de "La note enchantée" */
.grid-title-note {
  grid-column: 1/6;
  grid-row: 1;
  font-family: 'Devonshire';
  font-size: 5.2em;
  text-align: center;
  margin-top: 6%;
  @include mobile-large-font;
}

/* mise en forme de la note de musique */
.fa {
  font-size: 100px;
	background: -webkit-linear-gradient(180deg, $note-color-1, $note-color-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include mobile-small-font;
}

/* autre mise en forme de la note de musique */
.grid-note-music {
  grid-column: 1/6;
  grid-row: 8;
  font-family: 'Devonshire';
  font-size: 4.2em;
  text-align: center;
  margin: 10% 0 10%;
  @include mobile-large-font;
}

/* mise en forme des bars de "La note enchantée" */
[class*=-bar-note] {
  background: $brown;
}

/* animation de transition de l'effet souligné de "La note enchantée" */
.underline-animation-note {
  @include underline-animation($brown, $brown);
}