/* grille CSS "La note enchantée" */
.grid-note {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  grid-auto-rows: auto;
  font-family: 'Caveat';
  color: $brown;
  background-color: $salmon;
  margin: 0 10% 6% 10%;
  box-shadow: $box-shadow;
}

/* titre du menu de "La note enchantée" */
.grid-title-note {
  grid-column: 1/6;
  grid-row: 1;
  font-family: 'Devonshire';
  font-size: 5.2em;
  text-align: center;
  margin-top: 6%;
}

/* mise en forme de la note de musique */
.fa {
  font-size: 100px;
	background: -webkit-linear-gradient(180deg, $note-color-1, $note-color-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* autre mise en forme de la note de musique */
.grid-note-music {
  grid-column: 1/6;
  grid-row: 8;
  font-family: 'Devonshire';
  font-size: 4.2em;
  text-align: center;
  margin: 10% 0 10%;
}

/* mise en forme des bars de "La note enchantée" */
[class*=-bar-note] {
  background: $brown;
}

/* animation de transition de l'effet souligné de "La note enchantée" */
.underline-animation-note {
  position: relative;
  text-decoration: none;
  color: $brown;
  padding: 10px 0;
}

.underline-animation-note:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 30%;
  background: $brown;
  transition: width 2s ease-in-out;
}

.underline-animation-note:hover:after {
  width: 100%;
}