/* grille CSS "La palette du goût" */
.grid-palette {
  @include grid-menu;
  font-family: 'Caveat';
  background-color: $white;
}

/* titre du menu "La palette du goût" */
.grid-title-palette {
  grid-column: 1/6;
  grid-row: 1;
  font-family: 'Kaushan Script';
  font-size: 6.2em;
  text-align: center;
  margin-top: 6%;
  background: -webkit-gradient(linear, left top, right top, from($leaf-green), to($light-green));
  background: linear-gradient(to right, $leaf-green 0%, $light-green 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* mise en forme des bars de "La palette du goût" */
[class*=-left-bar-palette] {
  background: -webkit-gradient(linear, left top, right top, from($leaf-green), to($light-green));
  background: linear-gradient(to right, $leaf-green 0%, $light-green 100%);
}

[class*=-right-bar-palette] {
  background: -webkit-gradient(linear, left top, right top, from($light-green), to($leaf-green));
  background: linear-gradient(to right, $light-green 0%, $leaf-green 100%);
}

/* animation de transition de l'effet souligné "La palette du goût" */
.underline-animation-palette {
  @include underline-animation($leaf-green, $light-green);
}