/* grille CSS "Le chic à la française" */
.grid-chic {
  @include grid-menu;
  font-family: 'Times New Roman';
  font-size: small;
  background-color: $light-pink;
}

/* titre du menu "Le chic à la française" */
.grid-title-chic {
  grid-column: 1/6;
  grid-row: 1;
  font-family: 'Croissant One';
  font-size: 4.2em;
  text-align: center;
  margin-top: 6%;
  background: -webkit-gradient(linear, left top, right top, from($orange), to($purple));
  background: linear-gradient(to right, $orange 0%, $purple 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include mobile-medium-font;
}

.grid-entree-left-bar-chic, .grid-entree-right-bar-chic {
  background: $orange;
}

.grid-dish-left-bar-chic, .grid-dish-right-bar-chic {
  background: $light-purple;
}

.grid-dessert-left-bar-chic, .grid-dessert-right-bar-chic {
  background: $purple;
}

/* couleurs de chaque section "Le chic à la française" */
.first-color-chic {
  color: $orange;
}

.second-color-chic {
  color: $light-purple;
}

.third-color-chic {
  color: $purple;
}

/* animation de transition de l'effet souligné "Le chic à la française" */
.underline-animation-chic {
  @include underline-animation($orange, $purple);
}