/* grille CSS "Le délice des papilles" */
.grid-delice {
  @include grid-menu;
  font-family: 'Caveat';
  background-color: $grey;
}

/* titre du menu "Le délice des papilles" */
.grid-title-delice {
  grid-column: 1/6;
  grid-row: 1;
  font-family: 'Dancing Script';
  font-size: 6.2em;
  text-align: center;
  margin-top: 6%;
  background: -webkit-gradient(linear, left top, right top, from($blue), to($azur));
  background: linear-gradient(to right, $blue 0%, $azur 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include mobile-large-font;
  @include tablet-large-font;
}

/* animation de transition de l'effet souligné "Le délice des papilles" */
.underline-animation-delice {
  @include underline-animation($blue, $azur);
}