/* grille CSS "Le chic à la française" */
.grid-chic {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  grid-auto-rows: auto;
  font-family: 'Times New Roman';
  font-size: small;
  background-color: $light-pink;
  margin: 0 10% 6% 10%;
  box-shadow: $box-shadow;
}

/* titre du menu "Le chic à la française" */
.grid-title-chic {
  grid-column: 1/6;
  grid-row: 1;
  font-family: 'Croissant One';
  font-size: 4.2em;
  text-align: center;
  margin-top: 6%;
  background: -webkit-gradient(linear, left top, right top, from($orange), to($purple));
  background: linear-gradient(to right, $orange 0%, $purple 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-entree-left-bar-chic, .grid-entree-right-bar-chic {
  background: $orange;
}

.grid-dish-left-bar-chic, .grid-dish-right-bar-chic {
  background: $light-purple;
}

.grid-dessert-left-bar-chic, .grid-dessert-right-bar-chic {
  background: $purple;
}

/* couleurs de chaque section "Le chic à la française" */
.first-color-chic {
  color: $orange;
}

.second-color-chic {
  color: $light-purple;
}

.third-color-chic {
  color: $purple;
}

/* animation de transition de l'effet souligné "Le chic à la française" */
.underline-animation-chic {
  position: relative;
  text-decoration: none;
  padding: 10px 0;
}

.underline-animation-chic:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 30%;
  background: -webkit-gradient(linear, left top, right top, from($orange), to($purple));
  background: linear-gradient(to right, $orange 0%, $purple 100%);
  transition: width 2s ease-in-out;
}

.underline-animation-chic:hover:after {
  width: 100%;
}