/* mixins */
@mixin grid-menu{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  grid-auto-rows: auto;
  margin: 0 10% 6% 10%;
  box-shadow: $box-shadow;
  @include mobile-smaller-font;
  @include tablet-smaller-font;
}

/* animation de transition de l'effet souligné */
@mixin underline-animation($color-1, $color-2) {
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 30%;
    background: -webkit-gradient(linear, left top, right top, from($color-1), to($color-2));
    background: linear-gradient(to right, $color-1 0%, $color-2 100%);
    transition: width 2s ease-in-out;
  }
  &:hover:after {
    width: 100%;
  }
}

@mixin mobile-smaller-font {
  @media screen and (min-width: map-get($breakpoints, mobile-min)) and (max-width: map-get($breakpoints, mobile-max)){
    font-size: 0.5em;
  }
}

@mixin mobile-small-font {
  @media screen and (min-width: map-get($breakpoints, mobile-min)) and (max-width: map-get($breakpoints, mobile-max)){
    font-size: 1em;
    letter-spacing: 0px;
  }
}

@mixin mobile-medium-font {
  @media screen and (min-width: map-get($breakpoints, mobile-min)) and (max-width: map-get($breakpoints, mobile-max)){
    font-size: 1.6em;
    width: 50%;
    margin-left: 24%;
  }
}

@mixin mobile-large-font {
  @media screen and (min-width: map-get($breakpoints, mobile-min)) and (max-width: map-get($breakpoints, mobile-max)){
    font-size: 3em;
  }
}

@mixin mobile-grid-gap {
  @media screen and (min-width: map-get($breakpoints, mobile-min)) and (max-width: map-get($breakpoints, mobile-max)){
    grid-gap: 12px;
    margin: 12% 0 20% 0;
  }
}

@mixin tablet-smaller-font {
  @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)){
    font-size: 0.7em;
  }
}

@mixin tablet-small-font {
  @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)){
    font-size: 1.2em;
  }
}

@mixin tablet-medium-font {
  @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)){
    font-size: 1.8em;
    width: 50%;
    margin-left: 24%;
  }
}

@mixin tablet-large-font {
  @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)){
    font-size: 5em;
  }
}

@mixin tablet-grid-gap {
  @media screen and (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)){
    grid-gap: 50px;
    margin: 12% 0 20% 0;
  }
}