/* colors */
$pink: #FFCCCC;
$black: #000000;
$green: #569C87;
$yellow: #F5C74C;
$brown: #3D1319;
$salmon: #FCDFDB;
$note-color-1: #F6916A;
$note-color-2:#F16062;
$orange: #C67412;
$light-pink: #FFF4FE;
$purple: #6E4CCC;
$light-purple: #A56799;
$grey: #EDEFEF;
$blue: #0228DD;
$light-blue: #0670F3;
$azur: #5EB4FF;
$white: #FDFFFD;
$green-mint: #43973D;
$light-green: #BEFF7F;

/* snippet */
$box-shadow: 1px 1px 18px #AAAAAA;

/* breakpoints */
$breakpoints: (
  mobile: 768px,
  tablet: 1024px
);