/* mise en forme de l'en-tête */
header {
  font-family: 'Montserrat';
  font-size: 2em;
  text-align: center;
  letter-spacing: -7px;
  background-color: $green;
  color: $yellow;
  padding: 1px 15px 1px 15px;
  cursor: default;
}